<div class="body">
  <div class="container">
    <h1>My Gallery</h1>
    <form action="">
      <!-- name input -->
      <div class="input">
        <label for="name">FullName: </label>
        <input type="text" required>
      </div>

      <!-- username input -->
      <div class="input">
        <label for="username">UserName: </label>
        <input type="text" required>
      </div>

      <!-- email input -->
      <div class="input">
        <label for="email">Email: </label>
        <input type="text" required>
      </div>

      <!-- email input -->
      <div class="input">
        <label for="password">Password: </label>
        <input type="text" required>
      </div>

      <button routerLink="/home">Create an account</button>
    </form>
  </div>
  <p><strong>Store and Share</strong> your your art and art experiences.</p>
</div>
