<div class="homepage">
  <div class="mainContainer">
    <div class="title">
      <!-- <img src="../../assets/images/homepagelogo.png" alt="Logo image" title="Logo Image" class="homeLogo"> -->
      <h1 class="homeHeading">Uyioghosa Marvis Igbineweka</h1>
      <div class="homeRuler"></div>
      <p class="byline"><i>: Welcome to my art gallery</i></p>
    </div>
  </div>
  <!-- mygallery button from the homebutton component -->
  <app-homebutton class="btn"></app-homebutton>
</div>
<!-- <app-threed></app-threed> -->
