<div class="body">
  <div class="container">
    <h1>My Gallery</h1>
    <form action="">
      <!-- name input -->
      <div class="input">
        <label for="username">Username: </label>
        <input type="text" required>
      </div>

      <!-- email input -->
      <div class="input">
        <label for="password">Password: </label>
        <input type="text" required>
        <a href="">Forgot password?</a>
      </div>

      <div class="btom">
        <a routerLink="/signUp">want an account? sign up</a>
        <button routerLink="/home">Sign In</button>
      </div>
    </form>
  </div>
  <p><strong>Store and Share</strong> your your art and art experiences.</p>
</div>
